body { 
    background-color: #E4E4F2;
}

#titulo {
    color: #30348C;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #3339A6;
    font-size: 35px;
    text-align: justify;
}